venv/
.venv-verijob/
__pycache__/
.ipynb_checkpoints/

# Ignore generated reports only
outputs/

# Keep trained models
!outputs/models/
!outputs/models/*.pkl

*.pyc
*.sqlite3
.DS_Store
.env
frontend/node_modules/
frontend/dist/
*.db
